<!-- mida-portal/mida/static/mida/templates/base.html -->

{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <!-- EXTRA_CSS MIDA base.html -->
    <link rel="stylesheet" href="{% static 'mida/css/vars.css' %}">
    <link rel="stylesheet" href="{% static 'mida/css/globals.css' %}">
    <!-- END EXTRA_CSS -->
{% endblock %}

{% block header_tag %}
    {% include 'components/header/index.html' %}
{% endblock %}

{% block main %}
    {% block outer_content %}
    {% block page_header_container %}
    <div class="container">
        <a class="anchor" id="page-header"></a>
        <div class="page-header">
            {% block page_header %}
            <h1>{% block page_title %}{{ title }}{% endblock %}</h1>
            {% endblock %}
        </div>
    </div>
    {% endblock %} <!-- page_header_container -->

    {% block all_content %}
        {% block content %}{% endblock %}
        {% block nav_footer %}{% endblock %}
        {% block containerless_content %}{% endblock %}
    {% endblock %} <!-- all_content -->
    {% endblock outer_content %}
{% endblock main %}

{% block footer_wrap %}
<footer>
    {% block footer %}
    <div class="container">
        <!-- Include Footer Component -->
        {% include 'components/footer/index.html' %}
        <!-- End Footer Component -->
    </div>
    {% endblock %}
</footer>
{% endblock footer_wrap %}
