{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  <!-- EXTRA MIDA CSS -->
  <link rel="stylesheet" href="{% static 'mida/css/header.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'mida/css/footer.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'mida/css/home.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'mida/css/mida.css' %}" type="text/css">
  <!-- END EXTRA CSS -->
{% endblock %}

{% block footer_wrap %}
<footer>
    {% block footer %}
    <div class="container">
        {% include 'marco_site/includes/footer.html' %}
    </div>
    {% endblock %}
</footer>
{% endblock footer_wrap %}
