{% load compress static portal menu wagtailcore_tags wagtailcustom_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mida/css/vars.css' %}">
    <link rel="stylesheet" href="{% static 'mida/css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'mida/css/button-login.css' %}">
    <link rel="stylesheet" href="{% static 'mida/css/header.css' %}">
{% endblock extra_css %}

<header class="header">
    <div class="top-nav">
        <nav class="social-links">
            <a href="https://www.facebook.com/midatlanticocean" class="social-link facebook" aria-label="Facebook">
                <img src="{% static 'mida/img/icon-facebook-white.svg' %}" alt="facebook" />
            </a>
            <a href="https://www.youtube.com/channel/UC4xYS-oWsPJkO34r1o-nEPg" class="social-link youtube" aria-label="Youtube">
                <img src="{% static 'mida/img/icon-youtube-white.svg' %}" alt="youtube" />
            </a>
            <a href="https://twitter.com/PortalMARCO" class="social-link twitter" aria-label="Twitter">
                <img src="{% static 'mida/img/icon-twitter-white.svg' %}" alt="twitter" />
            </a>
        </nav>
        <nav class="top-nav-link">
            <a href="/about-us/" class="nav-link">About the Portal</a>
        </nav>
        <nav class="top-nav-link">
            <a href="/how-use-portal/" class="nav-link">How-to Guide</a>
        </nav>
        <div class="user-actions">
            <button class="button-login" aria-label="Log In">
                <span class="icon-user">
                    <img class="vector" src="{% static 'mida/img/icon-useraccount.svg' %}" alt="User icon" />
                </span>
                <span class="button-text">Log In</span>
            </button>
        </div>
        <div class="search-wrapper">

            {% if not SEARCH_DISABLED %}
                <ul class="nav-list">
                    <li class="dropdown search-dropdown">
                        <a href="#" class="button-search dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static 'mida/img/icon-search.svg' %}" alt="Search icon" />
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="{% active 'planner' %}">
                                {% include "portal/components/search_form.html" %}
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}

        </div>
    </div>

    <div class="main-nav">

        <div class="threelane-container">

            <a href="/" class="logo">
                <img src="{% static 'mida/img/logo-marco-full.svg' %}" alt="MARCO Portal Logo" />
            </a>

            <nav class="nav-menu">
                <ul class="nav-list">
                    
                    <li class="nav-item {% active 'planner' %}"><a href="{% url 'planner' %}" class="nav-link"><span class="icon-marco oversized"></span>Map</a></li>
                    
                    {% menus %}

                    {% comment %} 
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="{% static 'mida/img/marcodataportal-global-icon-geo-small.svg' %}" alt="" />
                            Map
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Data
                            <img src="{% static 'mida/img/icon-triangledown.svg' %}" alt="open dropdown" class="dropdown-icon" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Ocean Stories</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Case Studies</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            News
                            <img src="{% static 'mida/img/icon-triangledown.svg' %}" alt="open dropdown" class="dropdown-icon" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Events</a>
                    </li> {% endcomment %}
                </ul>
            </nav>
        </div>
    </div>
</header>