<!-- mida-portal/mida/static/mida/components/tabs-iconsgo/index.html -->
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mida/components/tabs-iconsgo/style.css' %}">
{% endblock extra_css %}


<div class="box-tabs-iconsgo">
    <nav class="tabs inactive" aria-label="Data resource categories inactive">
      <ul class="frame">
        {% for section in sections %}
          <li class="tab-item">
            <button class="tab-button" aria-selected="false">
              <img class="tab-icon" src="{% static 'mida/components/tabs-iconsgo/img/marcodataportal-data-mapanddataresources-icon-'|add:section.title|lower|add:'.svg' %}"
                alt="{{ section.title }} icon" /> {{ section.title|lower}}
              <span class="tab-text">{{ section.title }}</span>
            </button>
          </li>
        {% endfor %}
      </ul>
    </nav>
    
    {% include 'components/card-link/index.html' with sections=sections %}
  </div>
