<!-- mida-portal/mida/static/mida/components/accordion-block/index.html -->
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mida/components/accordion-block/style.css' %}">
{% endblock extra_css %}

<div class="bg-light-blue contain contain-padded">

    <div class="block-with accordion-block">
        <h3 class="heading-leadership margin-bottom-9">Group Information</h3>
        
        <div class="frame margin-bottom-9">
            <div class="element">
                <p class="text-content">{{ mapgroup.blurb }}</p>
            </div>
        </div>
        
        <section class="data-groups">
            <details open class="property">
                <summary>
                    <span class="text-wrapper left-items">
                        <h3 class="text">Group Members</h3>
                        <span class="text">6</span>
                    </span>
                    <span class="icon-wrap">
                        <img class="icon-open vector" src="{% static 'mida/components/accordion-block/img/vector-2.svg' %}" alt="Collapse icon" aria-hidden="true" />
                        <img class="icon-closed expand-icon" src="{% static 'mida/components/accordion-block/img/vector.svg' %}" alt="Expand icon" aria-hidden="true" />
                    </span>
                </summary>
                <div class="overlap accordion-center" id="accordion-group-members">
                    <div class="rectangle">
                        <ul class="frame">
                            <li class="list-item">
                                <img class="marcodataportal" src="img/marcodataportal-global-icon-1member-green.svg"
                                alt="Owner icon" />
                                <span class="list-text">Madison (owner)</span>
                            </li>
                            <li class="list-item">
                                <img class="marcodataportal" src="img/marcodataportal-global-icon-1member-blue.svg"
                                alt="Member icon" />
                                <span class="list-text">Dr. Artie K</span>
                            </li>
                            <li class="list-item">
                                <img class="marcodataportal" src="img/marcodataportal-global-icon-1member-blue.svg"
                                alt="Member icon" />
                                <span class="list-text">Kate</span>
                            </li>
                            <li class="list-item">
                                <img class="marcodataportal" src="img/marcodataportal-global-icon-1member-blue.svg"
                                alt="Member icon" />
                                <span class="list-text">Katherine</span>
                            </li>
                            <li class="list-item">
                                <img class="marcodataportal" src="img/marcodataportal-global-icon-1member-blue.svg"
                                alt="Member icon" />
                                <span class="list-text">Ryan</span>
                            </li>
                            <li class="list-item">
                                <img class="marcodataportal" src="img/marcodataportal-global-icon-1member-blue.svg"
                                alt="Member icon" />
                                <span class="list-text">williamsocnwld</span>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </details>
        </section>
        
        <section class="data-groups">
            <details class="property" open>
                <summary>
                    <span class="text-wrapper left-items">
                        <h3 class="text">Shared Items</h3>
                        <span class="text">30</span>
                    </span>
                    <span class="icon-wrap">
                        <img class="icon-open vector" src="{% static 'mida/components/accordion-block/img/vector-2.svg' %}" alt="Collapse icon" aria-hidden="true" />
                        <img class="icon-closed expand-icon" src="{% static 'mida/components/accordion-block/img/vector.svg' %}" alt="Expand icon" aria-hidden="true" />
                    </span>
                </summary>
                <div class="overlap" id="accordion-shared-items">
                    <section class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <div class="element-wrapper">
                                <div class="card-header-contents">
                                    <img class="polygon" src="img/subtract.svg" alt="Map Bookmarks icon" />
                                    <h2 class="card-header">Map Bookmarks</h2>
                                </div>
                            </div>
                            <div class="card-contents">
                                <ul class="list">
                                    <li>NY Adventurer Recreational Fishing</li>
                                    <li>Tourism Proposed Boundaries</li>
                                    <li>Conversationists - shipping lane refrain</li>
                                    <li>Commercial Fishing</li>
                                    <li>New Shipping Lane</li>
                                    <li>M boundaries</li>
                                    <li>renewed shipping lanes</li>
                                    <li>Deep Sea Cable -Sanctuary Proposal 2</li>
                                    <li>Proposal</li>
                                    <li>The New Deal</li>
                                    <li>Group 2 Proposed Boundaries</li>
                                    <li>New hope</li>
                                </ul>
                            </div>
                            
                        </div>
                    </section>
                    <section class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <div class="element-wrapper">
                                <div class="card-header-contents">
                                    <img class="polygon" src="img/polygon-1.svg" alt="Shapes icon" />
                                    <h2 class="card-header">Shapes</h2>
                                </div>
                            </div>
                            <div class="card-contents">
                                <ul class="list">
                                    <li>Food Chain <img class="img" src="img/marcodataportal-global-icon-info.svg" alt="Info icon" />
                                    </li>
                                    <li>George <img class="img" src="img/marcodataportal-global-icon-info.svg" alt="Info icon" /></li>
                                    <li>Mr Fenwick <img class="img" src="img/marcodataportal-global-icon-info.svg" alt="Info icon" />
                                    </li>
                                    <li>Starfish <img class="img" src="img/marcodataportal-global-icon-info.svg" alt="Info icon" />
                                    </li>
                                    <li>The big fish <img class="img" src="img/marcodataportal-global-icon-info.svg" alt="Info icon" />
                                    </li>
                                    <li>Turtle <img class="img" src="img/marcodataportal-global-icon-info.svg" alt="Info icon" /></li>
                                </ul>
                            </div>
                            
                        </div>
                    </section>
                    
                </div>
            </details>
        </section>
    </div>
</div>