.story .hero-flex-container {
    align-items: center;
}

.story .story-title {
    font-family: var(--h4-bold-font-family);
    font-weight: var(--h4-bold-font-weight);
    color: var(--teal);
    font-size: var(--h4-bold-font-size);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    font-style: var(--h4-bold-font-style);
}

.story .share-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.story .share-text {
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--dark-blue);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    font-style: var(--h7-font-style);
}

.story .share-icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.story .share-icon,
.story .fa-stack {
    width: 24px;
    line-height: 24px;
    height: 24px;
}

.story .fa {
    background: transparent;
    font-size: 24px;
}

.story .fa-circle:before {
    border: 1px solid var(--dark-blue);
    border-radius: 50%;
    content: '';
    display: block;
    height: 24px;
    width: 24px;
}

.story .fab {
    color: var(--dark-blue);
    font-size: 12px;
    line-height: 24px;
}


/**
 * Content / Body Sections
 */

.story .content {
    margin: var(--space-5) 0;
}

.story .section-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.story .section-body.right {
    flex-direction: row-reverse;
}

.story .section-body.left {
    flex-direction: row;
}

.story .section-media {
    flex: 1;
}

.story .section-body-content {
    flex: 1;
}

.story .content .section-header {
    color: var(--dark-blue, #22408F);
    font-family: var(--fira-subtitle-font-family);
    font-size: var(--fira-subtitle-font-size);
    font-weight: var(--fira-subtitle-font-weight);
    line-height: var(--fira-subtitle-line-height);
    margin: var(--space-7) 0 var(--space-5);
}

.story .section-body-content,
.story .section-body-content p {
    color: var(--grey-dark, #6C6C6C);
    font-family: var(--p3-font-family);
    font-size: var(--p3-font-size);
    font-weight: var(--p3-font-weight);
    line-height: var(--p3-line-height);
}