<!-- mida/templates/news/story.html -->
{% extends "cms/base.html" %}
{% load static wagtailcore_tags wagtailcustom_tags wagtailimages_tags wagtailembeds_tags social_share %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="{{ self.title }}" />
    <meta property="og:description" content="{{ self.description|striptags }}" />
    {% if self.feature_image %}
        {% image self.feature_image fill-520x430 as feat_img %}
        <meta property="og:image" content="{{ feat_img.url }}" />
        <meta property="og:image:width" content="520" />
        <meta property="og:image:height" content="430" />
    {% endif %}
    <meta property="og:type" content="article" />
{% endblock meta %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'mida/news/story.css' %}">
{% endblock extra_css %}

{% block body_class %}story{% endblock %}

{% block page_header %}

    <div class="hero-flex-container">
        
        <div class="hero-left">
            <div class="title-line">
                <h7>
                    <img class="icon" src="{% static 'mida/news/img/marcodataportal-global-icon-calendar.svg' %}" alt="Calendar icon" />
                    <span>{{ self.posted|date }}</span>
                </h7>
                <h1 class="story-title">
                    {% include 'portal/includes/edit_link.html' %}
                    {% block title %}{{ self.title }}{% endblock %}
                </h1>
            </div>

            <div class="share-section">
                <p class="share-text">SHARE THIS POST:</p>

                <div class="share-icons">

                    {% post_to_facebook object_or_url %}

                    {% post_to_twitter "https://"|add:request.get_host|add:self.url|add:" - @PortalMARCO" %}

                    <a class="fa-stack fa-lg"
                    href="mailto:?subject={{self.title}}%20From%20Mid-Atlantic%20Ocean%20Data%20Portal"
                    target="_blank" title="Email" aria-label="Share via email">
                        <img class="share-icon" src="{% static 'mida/news/img/marcodataportal-global-icon-share-email-1.svg' %}" alt="Email icon" />
                    </a>
                </div>
            </div>
        </div>
        
        {% if self.feature_image %}
      
            {% image self.feature_image fill-520x430 as feat_img %}
            
            <div class="hero-right">
                <div class="hero-image-wrap" style="background-image: url('{{ feat_img.url }}');">
                    <img class="feature" src="{{ feat_img.url }}" alt="{{ self.title }}" />
                </div>
            </div>
            
        {% endif %}

        
        
    </div>

{% endblock %}

{% block content %}

    {% if self.pk %}{# Required to render the page in preview mode #}
        <div class="story-pagination">
            {% with self.get_previous_by_posted as prev %}
                {% if prev %}
                    <a class="previous-page" href="{% pageurl prev %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M4.4442 10.7804L13.3445 19.6805C13.5503 19.8865 13.8251 20 14.1181 20C14.4111 20 14.6859 19.8865 14.8918 19.6805L15.5472 19.0252C15.9737 18.5982 15.9737 17.9042 15.5472 17.4779L8.07344 10.0041L15.5555 2.52209C15.7613 2.31608 15.875 2.04145 15.875 1.7486C15.875 1.45544 15.7613 1.1808 15.5555 0.974627L14.9 0.31951C14.694 0.113495 14.4194 1.90735e-06 14.1264 1.90735e-06C13.8334 1.90735e-06 13.5586 0.113495 13.3527 0.31951L4.4442 9.22773C4.23786 9.4344 4.12453 9.71033 4.12518 10.0037C4.12453 10.2981 4.23786 10.5739 4.4442 10.7804Z" fill="#FFA400"/>
                        </svg>
                        Previous
                    </a>
                {% endif %}
            {% endwith %}
            {% with self.get_next_by_posted as next %}
                {% if next %}
                    <a class="next-page" href="{% pageurl next %}">
                        Next
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20" fill="none">
                            <path d="M11.4308 9.2196L2.53055 0.31951C2.3247 0.113495 2.0499 0 1.7569 0C1.46389 0 1.1891 0.113495 0.983244 0.31951L0.327802 0.974789C-0.0986982 1.40178 -0.0986982 2.09576 0.327802 2.52209L7.80156 9.99585L0.31951 17.4779C0.113658 17.6839 0 17.9586 0 18.2514C0 18.5446 0.113658 18.8192 0.31951 19.0254L0.974951 19.6805C1.18097 19.8865 1.4556 20 1.7486 20C2.04161 20 2.3164 19.8865 2.52226 19.6805L11.4308 10.7723C11.6371 10.5656 11.7505 10.2897 11.7498 9.99634C11.7505 9.70187 11.6371 9.4261 11.4308 9.2196Z" fill="#FFA400"/>
                        </svg>
                    </a>
                {% endif %}
            {% endwith %}
        </div>
    {% endif %}

    <div class="contain">
        <article class="content">

            {% if self.description %}
                <div class="description">{{ self.description|anchored_richtext }}</div>
            {% endif %}

            {% if self.story_sections %}
                {% for section in self.story_sections.all %}

                    <a class="anchor" id="section-{{ forloop.counter }}"></a>

                    <section>   
                        <h2 class="section-header">{{ section.header }}</h2>

                        <div class="section-body {{ section.media_position }}">
                            {% if section.media_image or section.media_embed_url %}
                                <div class="section-media">
                                    {% if section.media_image %}

                                        {% image section.media_image fill-1060x600 %}
    
                                    {% elif section.media_embed_url %}
                                
                                        <div class="embed-responsive">
                                            {% embed section.media_embed_url %}
                                        </div>

                                    {% endif %}
                                            
                                    {% if section.media_caption %}
                                        <div class="caption">{{section.media_caption}}</div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="section-body-content">
                                {% block body %}
                                    {{ section.body|anchored_richtext }}
                                {% endblock %}
                            </div>
                        </div>
                    </section>
                {% endfor %}
            {% endif %}
        </article>
    </div>
{% endblock %}
