.page-header .description {
    border-left: 5px solid var(--yellow);
    padding: 1rem 1.125rem 1.125rem 1.5rem;
}

.page-header .description * {
    color: var(--color-ink);
    font-family: var(--p1-font-family);
    font-weight: var(--p1-font-weight);
    font-size: var(--p1-font-size);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}