.hero-grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0% 1em; 
    grid-template-areas: 
    ". ."; 
    margin-bottom: 2rem;
    position: relative;
}

.hero-image-wrap {
    border: .75rem solid var(--white);
    border-radius: 0 0 88% 0;
    overflow: hidden;
}

.title-line {
    margin-top: 2rem;
}

.page-header {
    border-bottom: 1px solid var(--blue);
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.page-header .description {
    border-left: 5px solid var(--yellow);
    padding: 1rem 1.125rem 1.125rem 1.5rem;
}

.page-header .description * {
    color: var(--color-ink);
    font-family: var(--p1-font-family);
    font-weight: var(--p1-font-weight);
    font-size: var(--p1-font-size);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}