.box-tabs-iconsgo {
  display: flex;
  flex-direction: column;
}

.tabs {
  border-radius: 5px;
  box-shadow: 0px -10px 55px rgba(0, 0, 0, 0.07);
  width: 100%;
  height: 100%;
}

.inactive {
  box-shadow: 0px -10px 55px #00000012;

}

.frame {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-item {
  flex: 1;
}

.tab-button {
  width: 100%;
  max-height: 199px;
  background-color: #ffffff;
  border: none;
  border-right: 1px solid var(--light-blue);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.tab-button-active {
  background-color: var(--green);
  border: none;
}

.tab-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
}

.tab-text {
  font-family: var(--h6-font-family);
  font-weight: var(--h6-font-weight);
  font-size: var(--h6-font-size);
  letter-spacing: var(--h6-letter-spacing);
  line-height: var(--h6-line-height);
  font-style: var(--h6-font-style);
  color: var(--grey-dark);
  text-align: center;
}

.tab-button-active .tab-text {
  color: var(--white);
}

.tab-item:last-child .tab-button {
  border-right: none;
}

.tabs-link-container {
  background-color: var(--light-blue);
  width: 100%;
  height: 100%;
}

@media (max-width: 1240px) {
  .frame {
    flex-wrap: wrap;
  }

  .tab-item {
    flex-basis: 50%;
  }

  .tab-button {
    border-bottom: 1px solid var(--light-blue);
  }

  .tab-item:last-child .tab-button {
    border-bottom: none;
  }
}

@media (max-width: 600px) {
  .tab-item {
    flex-basis: 100%;
  }

  .tab-button {
    border-right: none;
    height: 75px;
    flex-direction: row;
  }

  .tab-item:last-child .tab-button {
    border-bottom: none;
  }

  .tab-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-bottom: 0px;
  }
}