{% extends "cms/section.html" %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'mida/accounts/accounts.css' %}">
{% endblock %}

{% block page_header %}{% endblock%}

{% block content %}

    <section class="contain login">

        <h2 class="login-header">SIGN IN</h2>

        <p>Anyone can join the {{ APP_NAME }}&mdash;<a href="{% url 'account:register' %}">becoming a member</a> allows you
        to join and create interest groups, custom data layers, and share
        map views with your collaborators.</p>

        <form class="login-form" method="POST" action="{% url 'account:index' %}{% if next %}?next={{ next }}{% endif %}">
            {% csrf_token %}

            {{ form.as_div }}

            <div class="text-center">
                <button class="btn btn-success btn-lg" onclick='this.form.submit()'>Log in &rarr;</button>
            </div>
        </form>

        <div>
            <br />
            <br />
            <p class="text-center">
                <a href="{% url 'account:forgot_password' %}">I forgot my password</a>
                &bull; <a href="{% url 'account:register' %}">I want to register</a>
                &bull; <a href="/help/">Help</a>
            </p>
        </div>

    </section>


{% endblock %}
