<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Resource Tabs</title>
</head>

<body>
    <main class="box">
        <nav class="tabs" aria-label="Resource navigation">
            <section class="container">
                <button class="tab-button selected" aria-selected="true">Map Resources</button>
                <button class="tab-button" aria-selected="false">Data Resources</button>
            </section>
        </nav>
        <section class="container">
            <button class="tab-button" aria-selected="true">Map Resources</button>
            <button class="tab-button selected" aria-selected="false">Data Resources</button>
        </section>
        </nav>
    </main>
</body>

</html>