COMPOSE_PROJECT_NAME=mida
BASE_TAG=latest

APP_PORT=8001
DB_PORT=5433

SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,::1
DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=mida_docker_db
DB_USER=postgres
DB_PASSWORD=
REDIS_PASSWORD=

DB_INIT=0
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=
DJANGO_ENV=development
GUNICORN_WORKERS=3

RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
GA_ACCOUNT=
ARCGIS_API_KEY=