#!/usr/bin/sh

USERNAME=username
SOURCE=portal.midatlanticocean.org
IDENTITY=/path/to/key.pem

# For the stage server, we need to sync media and staticfiles so admin-added
#   content/files referenced (relatively) by the database exist on all servers

# sFTP Uploads (/usr/local/apps/marco_portal_static)
rsync -a -e "ssh -i $IDENTITY" $USERNAME@$SOURCE:/usr/local/apps/marco_portal_static/ /usr/local/apps/marco_portal_static/

# Legend
rsync -a -e "ssh -i $IDENTITY" $USERNAME@$SOURCE:/usr/local/apps/ocean_portal/marco/static/legends /usr/local/apps/ocean_portal/marco/static/

# Wagtail-added images (/usr/loca/apps/ocean_portal/marco/media/images)
rsync -a -e "ssh -i $IDENTITY" --exclude 'data_manager/utfgrid' $USERNAME@$SOURCE:/usr/local/apps/ocean_portal/marco/media/ /usr/local/apps/ocean_portal/marco/media/
