div.page-header div.description {
  color: #58585b;
  font-size: 18px;
  line-height: 26px;
}

.ocean-story-page .content .section-body .block-rich_text {
  font-size: 1.1875em;
  line-height: 1.6375em;
}

body.ocean-story-page.section-layout .page-header .description p {
    color: black;
    font-weight: normal;
    margin-bottom: 4rem;
}
