/**
 *  mida-portal/mida/static/mida/css/globals.css
 */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:500,600|Barlow:400,500,600|Oswald:400,500");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    height: auto;
    letter-spacing: normal;
}

a {
    color: var(--dark-blue);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

img {
    height: auto;
    max-width: 100%;
}

/**
 * Utilites
 */

.min-h-screen {
    min-height: 100vh;
}

.margin-bottom-9 {
    margin-bottom: var(--space-9);
}


/**
 * Containers
 */

.contain {
    margin: 0 auto var(--space-9);
    padding: 0 20px;
    max-width: 1240px;
}

@media (min-width: 78rem) {
    .contain {
        padding: 0;
    }
}

.contain-padded {
    padding: 3rem;
}

.threelane-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


/* Accessibility improvements */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/**
 * Typography globals
 */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: var(--teal);
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
}

h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
}

h3 {
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
}

h4 {
    font-family: var(--h4-font-family);
    font-weight: var(--h4-font-weight);
    font-size: var(--h4-font-size);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
}

h5 {
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
}

h6 {
    font-family: var(--h6-font-family);
    font-weight: var(--h6-font-weight);
    font-size: var(--h6-font-size);
    letter-spacing: var(--h6-letter-spacing);
    line-height: var(--h6-line-height);
}

h7 {
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
}

p {
    font-family: var(--p1-font-family);
    font-weight: var(--p1-font-weight);
    font-size: var(--p1-font-size);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}