/**
 *  mida-portal/mida/static/mida/css/globals.css
 */

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:500,600|Barlow:400,500,600|Oswald:400,500");

* {
    box-sizing: border-box;
}

html,
body {
    height: auto;
}


/**
 * Links
**/

a {
    color: var(--dark-blue);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.link-block {
    scale: 1;
    transition: scale 0.15s cubic-bezier(.4, 0, .2, 1);
}

.link-block:hover {
    scale: 1.05;
    text-decoration: none;
}


/**
 * Media
 */

img {
    height: auto;
    max-width: 100%;
}


/**
 * Utilites
 */

.min-h-screen {
    min-height: 100vh;
}

.margin-bottom-9 {
    margin-bottom: var(--space-9);
}

.margin-bottom-5 {
    margin-bottom: var(--space-5);
}

.margin-bottom-3 {
    margin-bottom: var(--space-3);
}

.margin-top-4 {
    margin-top: var(--space-4);
}

.relative {
    position: relative;
}


/**
 * Containers
 */

.contain {
    margin: 0 auto var(--space-9);
    padding: 0 20px;
    max-width: 1240px;
}

@media (min-width: 78rem) {
    .contain {
        padding: 0;
    }
}

.contain-padded {
    padding: 3rem;
}

.threelane-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/** Media Containers */
.embed-responsive,
.description div iframe {
    display: block;
    height: 560px;
    margin: var(--space-5) auto;
    max-height: 55vh;
    max-width: 100%;
    width: 900px;
}


/* Accessibility improvements */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


/**
 * Typography globals
 */

html {
    font-size: 1em;
}

body {
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: var(--teal);
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
}

h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
}

h3 {
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
}

.page-body h3 {
    font-size: var(--h3-font-size-fluid);
    line-height: var(--h3-line-height-fluid);
}

h4 {
    font-family: var(--h4-font-family);
    font-weight: var(--h4-font-weight);
    font-size: var(--h4-font-size);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
}

h5 {
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
}

h6 {
    font-family: var(--h6-font-family);
    font-weight: var(--h6-font-weight);
    font-size: var(--h6-font-size);
    letter-spacing: var(--h6-letter-spacing);
    line-height: var(--h6-line-height);
}

h7 {
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
}

p {
    font-family: var(--p1-font-family);
    font-weight: var(--p1-font-weight);
    font-size: var(--p1-font-size);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

.content ul,
.page-body ul {
    list-style-type: disc;
}

.content ol,
.page-body ol {
    list-style-type: decimal;
}

.content ol, 
.content ul,
.page-body ol,
.page-body ul {
    padding-left: 1.5em;
    margin: var(--space-5) 0;
    font: inherit;
}

.content li,
.page-body li {
    margin-bottom: var(--space-5);
    padding-left: .5em;
}


/**
 * Buttons
 */

.button {
    background-color: var(--yellow-bright);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-family: var(--btn-oswald-font-family);
    font-size: .9375em;
    letter-spacing: var(--btn-oswald-letter-spacing);
    line-height: var(--btn-oswald-line-height);
    opacity: 1;
    padding: .25em .75em;
    text-transform: uppercase;
    transition: opacity 0.25s ease-in-out;
}

.button:hover {
    color: var(--white);
    opacity: 0.75;
    text-decoration: none;
}

.button-big {
    align-items: center;
    background-color: var(--yellow-bright);
    border: none;
    border-radius: 10px;
    color: var(--white);
    display: flex;
    font-family: var(--btn-oswald-font-family);
    font-size: var(--btn-oswald-font-size);
    font-style: var(--btn-oswald-font-style);
    font-weight: var(--btn-oswald-font-weight);
    gap: 8px;
    justify-content: center;
    letter-spacing: var(--btn-oswald-letter-spacing);
    line-height: var(--btn-oswald-line-height);
    opacity: 1;
    padding: 1rem clamp(1rem, 5vw, 5rem);
    position: relative;
    text-transform: uppercase;
    transition: opacity 0.25s ease-in-out;
    width: fit-content;
}

.button-big:hover {
    color: var(--white);
    opacity: 0.75;
    text-decoration: none;
}

.button-big.full-width {
    width: 100%;
}

.button-small {
    align-items: center;
    background: var(--yellow-bright);
    border: none;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    font-family: var(--h7-font-family);
    font-size: var(--h7-font-size);
    font-style: var(--h7-font-style);
    font-weight: var(--h7-font-weight);
    justify-content: center;
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    padding: 12px 24px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}

.button-small.property-outline {
    background: transparent;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
}

.button-red {
    background-color: var(--red);
}

.button-green {
    background-color: var(--green);
}

.button-grey {
    background-color: var(--gray-medium);
}