/**
 *  mida-portal/mida/static/mida/css/globals.css
 */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:500,600|Barlow:400,500,600|Oswald:400,500");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    height: auto;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

.contain {
    margin: 4rem auto;
    padding: 0 20px;
    max-width: 1440px;
}

.threelane-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

/* Accessibility improvements */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}