/**
 * Header component styles 
 */

.header {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/**
 * Top navigation styles
 */

.header .top-nav {
    background-color: var(--green);
    align-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.4375rem 7.5rem;
}

.header .top-nav-link .nav-link {
    color: var(--white, #FFF);
    font-family: var(--p1-font-family, "Barlow", Helvetica);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    text-decoration: none;
}

.header .top-nav .user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .top-nav .button-search {
    background: none;
    border: none;
    cursor: pointer;
}

.header .top-nav .social-links {
    display: flex;
    gap: 7px;
}

.header .top-nav .social-link {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .top-nav .search-dropdown .dropdown-menu {
    left: auto;
    right: 0;
}


/**
 * Main navigation styles
 */
 
.header .main-nav {
    align-items: center;
    align-self: stretch;
    background: var(--white, #FFF);
    border-bottom: 1px solid var(--grey-medium, #B1B3B5);
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    padding: 2.125rem 0.625rem;
}

.header .main-nav .logo {
    display: flex;
    width: 100%;
    max-width: 266px;
}

.header .main-nav .nav-menu {
    flex: .875;
}

.header .main-nav .nav-menu .nav-list {
    align-items: baseline;
    display: flex;
    gap: 30px;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.header .main-nav .nav-menu .nav-list .nav-item {
    position: relative;
}

.header .main-nav .nav-menu .nav-list .nav-item .nav-link {
    align-items: center;
    color: var(--dark-blue);
    font-family: var(--p1-font-family, "Barlow-Medium", Helvetica);
    font-size: 1.125rem;
    font-weight: 500;
    justify-content: flex-end;
    line-height: 1.625rem;
    padding: 10px 0;
    text-decoration: none;
}

.header .main-nav .nav-menu .nav-list .nav-item .dropdown-icon {
    margin-left: 5px;
}



/* Responsive styles */
@media (max-width: 1024px) {
    
    .header .main-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {

    .header .nav-list {
        flex-direction: column;
        width: 100%;
    }

    .header .nav-item {
        width: 100%;
        border-bottom: 1px solid var(--grey-medium);
    }

    .header .nav-item .nav-link {
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    .header .frame {
        padding: 10px;
    }

    .header .logo {
        width: 150px;
    }

    .header .nav-list {
        gap: 10px;
    }
}