/* Recreating Styles*/
body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.42857;
}

body.page-layout div.page-body p {
  font-size: 18px;
  line-height: 26px;
  color: black;
  font-weight: 400;
}

/*
++++++++++++ NEWS ++++++++++++
*/

.description, .description p {
    color: #58585b;
    font-size: 18px;
    line-height: 26px;
}

.detail .media-body .item-text,
.media-body {
  font-size: 18px;
  line-height: 26px;
}

.media-body div.item-text {
  line-height: 1.42857;
}

div.media-item.media {
  display: contents;
}

div.media-item .detail .media-body .item-text,
.detail .media-body .item-text p {
  font-size: 18px;
  line-height: 26px;
  color: black;
  font-weight: 400;
}

/*
++++++++++++ DATA CATALOG ++++++++++++
*/

.detail .media-body .theme-detail-border .description {
    line-height: 27.1428px;
}

.media-body .view-in-map {
  font-size: 14px;
  line-height: 1.42857; /* ~20px */
}

body.data-theme-page .catalog-padding .layer-info p.description {
  font-size: 18px;
  line-height: 26px;
  color: black;
  width: unset;
  padding-top: 30px;
  letter-spacing: 0.027em;
  max-width: calc(750px-50px-63px);
}

/*
++++++++++++ WEBINARS ++++++++++++
*/

.description div iframe {
  width: 100%;
  height: 100%;
  min-height: 303px
}

/*
++++++++++++ ABOUT ++++++++++++
*/

img.richtext-image.full-width {
    max-width: 100%;
    height: auto;
}
