/**
  * MIDA Portal Custom Styles
  * static/mida/css/mida.css
 */

/* Recreating Styles*/
body {
    background: var(--white, #ffffff);
    font-family: var(--body-regular-font-family);
    font-weight: var(--body-regular-font-weight);
    font-size: var(--body-regular-font-size);
    line-height: var(--body-regular-line-height);
}

/**
  * Alert Banner
  */

.intro p:not(:empty) {
    background: var(--accent);
    color: #fff;
    padding: 1.5rem;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
    padding-bottom: 25px;
}


/**
 * MARCO Overrides for account pages
**/

/* 
 * legacy Trash 
 * Remove when account:index page is replaced
 */
.classless-page .mapgroup {
  overflow: hidden;
}


/*
++++++++++++ NEWS ++++++++++++
*/

.description, .description p {
    /* font-size: 18px;
    line-height: 26px; */
    color: var(--grey-dark);
}

/* .detail .media-body .item-text,
.media-body {
  font-size: 18px;
  line-height: 26px;
} */

/* .media-body div.item-text {
  line-height: 1.42857;
} */

div.media-item.media {
  display: contents;
}
/* 
div.media-item .detail .media-body .item-text,
.detail .media-body .item-text p {
  font-size: 18px;
  line-height: 26px;
  color: black;
  font-weight: 400;
} */

/*
++++++++++++ DATA CATALOG ++++++++++++
*/

/* .detail .media-body .theme-detail-border .description {
    line-height: 27.1428px;
} */

/* .media-body .view-in-map {
  font-size: 14px;
  line-height: 1.42857;
} */

body.data-theme-page .catalog-padding .layer-info p.description {
  /* font-size: 18px;
  line-height: 26px;
  color: black; */
  width: unset;
  padding-top: 30px;
  letter-spacing: 0.027em;
  max-width: calc(750px-50px-63px);
}


/*
++++++++++++ ABOUT ++++++++++++
*/

img.richtext-image.full-width {
    max-width: 100%;
    height: auto;
}
