:root {
    --black: rgba(1, 1, 1, 1);
    --white: rgba(255, 255, 255, 1);
    --yellow: rgba(234, 177, 58, 1);
    --light-blue: rgba(236, 244, 255, 1);
    --dark-blue: rgba(34, 64, 143, 1);
    --teal: rgba(0, 120, 138, 1);
    --grey-dark: rgba(108, 108, 108, 1);
    --grey-medium: rgba(177, 179, 181, 1);
    --grey-light: rgba(245, 246, 246, 1);
    --green: rgba(0, 165, 100, 1);
    --yellow-bright: rgba(255, 164, 0, 1);
    --bright-blue: rgba(21, 105, 220, 1);
    --blue: rgba(146, 198, 224, 1);
    --red: rgba(224, 44, 44, 1);
    --h1-font-family: "Oswald", Helvetica;
    --h1-font-weight: 400;
    --h1-font-size: 100px;
    --h1-letter-spacing: 0px;
    --h1-line-height: 108px;
    --h1-font-style: normal;
    --h2-font-family: "Oswald", Helvetica;
    --h2-font-weight: 500;
    --h2-font-size: 80px;
    --h2-letter-spacing: 1.6px;
    --h2-line-height: 98px;
    --h2-font-style: normal;
    --h3-font-family: "Oswald", Helvetica;
    --h3-font-weight: 400;
    --h3-font-size: 56px;
    --h3-letter-spacing: 0.6720000267028808px;
    --h3-line-height: 64px;
    --h3-font-style: normal;
    --h4-font-family: "Oswald", Helvetica;
    --h4-font-weight: 400;
    --h4-font-size: 46px;
    --h4-letter-spacing: 0px;
    --h4-line-height: 56px;
    --h4-font-style: normal;
    --h4-bold-font-family: "Oswald", Helvetica;
    --h4-bold-font-weight: 500;
    --h4-bold-font-size: 48px;
    --h4-bold-letter-spacing: 0.96px;
    --h4-bold-line-height: 64px;
    --h4-bold-font-style: normal;
    --h5-font-family: "Oswald", Helvetica;
    --h5-font-weight: 500;
    --h5-font-size: 40px;
    --h5-letter-spacing: 0.8px;
    --h5-line-height: 56px;
    --h5-font-style: normal;
    --h6-font-family: "Oswald", Helvetica;
    --h6-font-weight: 400;
    --h6-font-size: 28px;
    --h6-letter-spacing: 0px;
    --h6-line-height: 36px;
    --h6-font-style: normal;
    --h7-font-family: "Oswald", Helvetica;
    --h7-font-weight: 400;
    --h7-font-size: 18px;
    --h7-letter-spacing: 0.9px;
    --h7-line-height: 24px;
    --h7-font-style: normal;
    --fira-subtitle-font-family: "Fira Sans", Helvetica;
    --fira-subtitle-font-weight: 600;
    --fira-subtitle-font-size: 28px;
    --fira-subtitle-letter-spacing: 0px;
    --fira-subtitle-line-height: 36px;
    --fira-subtitle-font-style: normal;
    --FAQ-headline-font-family: "Fira Sans", Helvetica;
    --FAQ-headline-font-weight: 500;
    --FAQ-headline-font-size: 24px;
    --FAQ-headline-letter-spacing: 0px;
    --FAQ-headline-line-height: 38px;
    --FAQ-headline-font-style: normal;
    --p1-font-family: "Barlow", Helvetica;
    --p1-font-weight: 400;
    --p1-font-size: 26px;
    --p1-letter-spacing: 0px;
    --p1-line-height: 36px;
    --p1-font-style: normal;
    --p2-font-family: "Barlow", Helvetica;
    --p2-font-weight: 400;
    --p2-font-size: 24px;
    --p2-letter-spacing: 0px;
    --p2-line-height: 34px;
    --p2-font-style: normal;
    --p3-font-family: "Barlow", Helvetica;
    --p3-font-weight: 400;
    --p3-font-size: 22px;
    --p3-letter-spacing: 0px;
    --p3-line-height: 34px;
    --p3-font-style: normal;
    --p4-font-family: "Barlow", Helvetica;
    --p4-font-weight: 400;
    --p4-font-size: 18px;
    --p4-letter-spacing: 0px;
    --p4-line-height: 26px;
    --p4-font-style: normal;
    --btn-oswald-font-family: "Oswald", Helvetica;
    --btn-oswald-font-weight: 500;
    --btn-oswald-font-size: 23px;
    --btn-oswald-letter-spacing: 0px;
    --btn-oswald-line-height: 36px;
    --btn-oswald-font-style: normal;
    --p6-font-family: "Barlow", Helvetica;
    --p6-font-weight: 500;
    --p6-font-size: 14px;
    --p6-letter-spacing: 0px;
    --p6-line-height: 26px;
    --p6-font-style: normal;
    --p5-font-family: "Barlow", Helvetica;
    --p5-font-weight: 500;
    --p5-font-size: 16px;
    --p5-letter-spacing: 0px;
    --p5-line-height: normal;
    --p5-font-style: normal;
    --p2-link-font-family: "Barlow", Helvetica;
    --p2-link-font-weight: 600;
    --p2-link-font-size: 24px;
    --p2-link-letter-spacing: 0px;
    --p2-link-line-height: 34px;
    --p2-link-font-style: normal;
    --body-regular-font-family: "Roboto", Helvetica;
    --body-regular-font-weight: 400;
    --body-regular-font-size: 14px;
    --body-regular-letter-spacing: 0px;
    --body-regular-line-height: 22px;
    --body-regular-font-style: normal;
    --shadow: 0px 0px 30px 3px rgba(21, 47, 96, 0.05);
    --variable-collection-yellow-2: rgba(255, 164, 0, 1);
    --gray-dark: rgba(108, 108, 108, 1);
    --fields-text-1-font-family: "Inter", Helvetica;
    --fields-text-1-font-weight: 400;
    --fields-text-1-font-size: 16px;
    --fields-text-1-letter-spacing: 0px;
    --fields-text-1-line-height: 24px;
    --fields-text-1-font-style: normal;
    --primitives-color-grey-500: rgba(78, 86, 86, 1);
    --primitives-grey-blue: rgba(236, 245, 255, 1);
    --primitives-color-black: rgba(41, 41, 41, 1);
    --gray-medium: rgba(177, 179, 181, 1);
    --variable-collection-green: rgba(0, 165, 100, 1);
}