<!-- mida/templates/cms/section.html -->
{% extends "cms/base.html" %}
{% load wagtailimages_tags wagtailcore_tags wagtailcustom_tags %}

{% block layout %}section{% endblock %}

{% block page_header %}

  <div class="hero-flex-container">
    
    <div class="hero-left">
      <div class="title-line">
        <h1>{% block title %}{{ self.title }}{% endblock %}</h1>
      </div>

      {% if self.description %}
        <div class="description">
          {{ self.description|anchored_richtext }}
        </div>
      {% endif %}
    </div>

    {% if self.feature_image %}
      <div class="hero-right">
        <div class="hero-image-wrap" style="background-image: url('{{ self.feature_image.file.url }}');">
          {% image self.feature_image fill-520x430 class="feature" alt="{{ self.title }}" %}
        </div>
      </div>
    {% endif %}

  </div>

  {% include 'components/breadcrumb/index.html' %}

{% endblock %}

{% block content %}

  {% for block in page.body %}
    {% if block.block_type == 'table' %}
      {% include_block block %}
    {% elif block.block_type == 'text' %}
      <div class="page-body">
        {% include_block block %}
      </div>
    {% else %}
      {# rendering for other block types #}
      {% include_block block %}
    {% endif %}
  {% endfor %}

{% endblock %}
