{% extends "marco_site/includes/navbar.html" %}

{% load static %}

{% block navbar_header %}
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">
  <img src="{% static 'brand/MARCO-DataPortal-Logo2025_Horiztontal-FullColor.svg' %}">
</a>
{% endblock navbar_header %}