{% extends "grid_pages/grid_page.html" %}
{% load wagtailcore_tags wagtailcustom_tags %}

{% block back_text %}{{ self.get_parent }}{% endblock %}

{% block media %}
<div class="badge">{{ self.metric|default:"NEED" }}</div>
{% endblock %}

{% block tabs %}
    {% include 'components/tabs-text/index.html' with items=self.get_parent.get_detail_children.live %}
{% endblock %}

{% block child_content %}

  {% if self.sections %}
      {% for section in self.sections.all %}
          <a class="anchor" id="section-{{forloop.counter}}"></a>
          <section>
              <h2>{{ section.title }}</h2>
              {% include "portal/components/media_item.html" with item=section only %}
          </section>
      {% endfor %}
  {% endif %}
{% endblock %}
