{% extends "cms/section.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailcustom_tags %}

{% block extra_css %}
  {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{% static 'portal/grid_page.css' %}"/>
{% endblock %}

{% block content %}

    <div class="page-content">
      {% include 'components/breadcrumb/index.html' %}
      {% include 'components/tabs-text/index.html' with items=self.get_detail_children.live %}
      {% include 'components/tabs-iconsgo/index.html' %}

    </div>
{% endblock %}


{% block extra_js %}
  {{ block.super }}
{% endblock %}