{% extends "cms/section.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailcustom_tags %}

{% block extra_css %}
  {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{% static 'portal/grid_page.css' %}"/>
{% endblock %}

{% block content %}
    <div class="contain">
      {% include 'components/breadcrumb/index.html' %}

      {% block tabs %}
        {% include 'components/tabs-text/index.html' with items=self.get_detail_children.live %}
      {% endblock %}
      
      {% block child_content %}{% endblock %}
    </div>
{% endblock %}