<!-- mida-portal/mida/static/mida/components/homepage-herobanner/index.html -->
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mida/components/homepage-herobanner/style.css' %}">
{% endblock extra_css %}

<header class="homepage-hero-banner" data-model-id="1835:774">
    <div class="overlap-group">
        <div class="content">
            <h1 class="title">Ocean Planning Resource Center &amp; Interactive Mapping Tool</h1>
            <h2 class="subtitle">Mid-Atlantic Ocean Data Portal</h2>
            <p class="description">Ocean data for state, federal, and local users</p>
        </div>
        <div class="hero-image-wrap">
            <img class="hero-image" src="{% static 'mida/components/homepage-herobanner/img/marcodataportal-homepage-image01.png' %}" alt="Marina with boats" />
        </div>
    </div>
</header>