{% extends "mapgroups/mapgroup_form.html" %}
{% load static %}

{% block page_header %}
    <a class="button-small property-outline" href="{% url 'mapgroups:detail' mapgroup.pk mapgroup.slug %}">Back To {{ mapgroup.name }}</a>
{% endblock %}

    
{% block mapgroup_form_title %}Manage Your Map Group{% endblock %}
{% block mapgroup_form_disclaimer %}{% endblock %}
{% block form_action %}action="{% url 'mapgroups:edit' mapgroup.pk mapgroup.slug %}"{% endblock %}

{% block form_buttons %}
    <button class="button-big" type="submit">Save Changes</button>
    <a href="{% url 'mapgroups:detail' mapgroup.pk mapgroup.slug %}">Cancel changes</a>
{% endblock %}
    
{% block additional_forms %}
    
    <form class="delete-form" method="POST" action="{% url 'mapgroups:delete' mapgroup.pk mapgroup.slug %}">
        {% csrf_token %}
        <label>Delete your group</label>
        <p class="field-tip">Deleting a group is permanent, and cannot be undone.</p>
        <button class="button button-red" type="submit"  onclick='return confirm("Are you sure you want to delete your map group “{{ mapgroup.name }}”?")'>Delete group</button>
    </form>

    <form style="display: none" method="POST" action="{% url 'mapgroups:remove-image' mapgroup.pk mapgroup.slug %}">
        {% csrf_token %}
        <input type="submit" id="remove-image-submit">
    </form>
{% endblock %}

