{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  <link href="{% static '/mapgroups/assets/bootstrap-toggle-master/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
  <link href="{% static 'mida/mapgroups/mapgroup_form.css' %}" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <a class="button-small property-outline" href="{% url 'mapgroups:list'%}">Back to Groups</a>
{% endblock %}

{% block content %}

    <section class="create-map-group">
        <div class="create-map-group contain">
            <h2>Create a map group</h2>
            <div class="group-form-disclaimer">
                <p><i>*Note: MARCO reserves the right to review and remove Groups and content shared within them due to inactivity, inappropriate content or other misuse.</i></p>
            </div>
        </div>

        <div class="bg-light-blue contain contain-padded">
            <form class="create-group-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-grid">
                    <div class="form-row">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        <div class="form-field">
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                    </div>

                    <div class="form-row">
                        <label>Group Type</label>
                        <div class="form-field form-field--toggle">
                            <div class="toggle-options">
                                <input id="id_is_open" name="is_open"
                                        type="checkbox" checked="checked"
                                        data-toggle="toggle" data-on="Public"
                                        data-off="Private"
                                        data-onstyle="success"
                                        data-offstyle="danger">
                            </div>
                            {{ form.is_open.errors }}
                            <p class="field-tip">Tip: Anyone can join a public group. Group owners approve private group membership requests.</p>
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="{{ form.blurb.id_for_label }}">Description</label>
                        <div class="form-field">
                            {{ form.blurb }}
                            {{ form.blurb.errors }}
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
                        <div class="form-field">
                            {{ form.image }}<br>
                            {{ form.image.errors }}
                            <p class="field-tip">Tip: the best image sizes are 345x195 or larger.</p>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <button class="button-big" type="submit">Create Group</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static '/mapgroups/assets/bootstrap-toggle-master/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
