<!-- mida-portal/mida/static/mida/components/section-cards/index.html -->
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mida/components/section-cards/style.css' %}">
{% endblock extra_css %}

<div class="contain">
  <div class="section-with-cards">
    <div class="card-border">
      
      {% for item in items %}
        <section class="card collaborate">
          {% block heading %}
            <header class="card-header">
              <a href="{{ item.url }}">
                <h2 class="card-title">{{ item.title }}</h2>
              </a>
              <p class="card-description">
                {% block text %}
                  {% if item.search_description %}
                    {{ item.search_description|striptags|truncatechars:93 }}
                  {% else %}
                    {{ item.description|striptags|truncatechars:93 }}
                  {% endif %}
                {% endblock %}
              </p>
            </header>
          {% endblock %}
        
          {% block feature %}
            {% if item.feature_image %}
              <a href="{{ item.url }}" description="{{ item.title}}">
                {% image item.feature_image max-800x800 class="card-image" %}
              </a>
            {% endif %}
          {% endblock %}
        </section>
      {% endfor %}
      
    </div>
  </div>
</div>