{% load wagtailcore_tags static %}
<div class="content">
    <h2 class="title">{{ self.hook }}</h2>
    <div class="description">{{ self.description|safe }}</div>

    {% if self.sections %}
        {% for section in self.sections.all %}
        
            <a class="anchor anchor-clear" id="section-{{forloop.counter}}"></a>
            
            {% if section.map_legend %}
                <section class="has-legend">
                    <div class="legend-well
                        {# if there's a section title, move the legend in line with the top of the body text #}
                        {% if not section.title %}no-headline{% endif %}">
        <div class="well">
            <p style="text-align: center">
                <a target="_blank" href="{{ section.parsed_map_state.url }}" title="View data layers in Marine Planner"><span class="icon icon-marco"></span></a> <strong class="deep-blue">Legend</strong>
            </p>
            {% for legend in section.parsed_map_state.dataLayers.values %}
            {% if legend.legend %}
            <p class="font-condensed">
                {{ legend.name }}
                <br>
                {% if legend.legend_source == 'url' %}
                <span class='layer_{{ legend.id }}_legend'>Loading...</span>
                <script>
                    $.ajax({
                        url: "{{ legend.legend }}/legend?f=json",
                    }).done(function(data) {
                        if ( typeof(data) == "object") {
                            legend_json = data;
                        } else if (typeof(data) == "string") {
                            legend_json = JSON.parse(data);
                        } else {
                            // punt
                            legend_json = data;
                        }
                        name = "{{ legend.name }}";
                        layers = "{{ legend.arcgis_layers }}".split(',');
                        id = "{{ legend.id }}";
                        url = "{{ legend.legend }}";
                        html = '';
                        for (var i = 0; i < layers.length; i++){
                            layer_id = layers[i];
                            layer = {};
                            for (var j = 0; j < legend_json.layers.length; j++) {
                                if (legend_json.layers[j].layerId == layer_id){
                                    layer = legend_json.layers[j];
                                    break;
                                }
                            }
                            html += "<table><tbody>";
                            if (layer.legend == undefined) {
                                if (!legend_json.hasOwnProperty('layers')){
                                    legend_json.layers = [];
                                } 
                                layer.legend = legend_json.layers;  
                            }
                            for (var k = 0; k < layer.legend.length; k++) {
                                entry = layer.legend[k];
                                html += "<tr valign='middle'>";
                                html += "<td><img src=\"" + url + "/" + layer_id + "/images/" + entry.url + "\"></td>";
                                html += "<td>" + entry.label + "<td>";
                                html += "</tr>";
                            }
                            html += "</tbody></table>";
                        }
                        $('.layer_' + id + '_legend').html(html);
                    });
                </script>
                {% elif legend.legend_source == 'arc_feature_service' %}
                <span class='layer_{{ legend.id }}_legend'>Loading...</span>
                <script>
                    $.ajax({
                        url: "{{ legend.legend }}",
                    }).done(function(data) {
                        if ( typeof(data) == "object") {
                            legend_json = data;
                        } else if (typeof(data) == "string") {
                            legend_json = JSON.parse(data);
                        } else {
                            // punt
                            legend_json = data;
                        }
                        name = "{{ legend.name }}";
                        layers = "{{ legend.arcgis_layers }}".split(',');
                        id = "{{ legend.id }}";
                        url = "{{ legend.legend }}";
                        html = '';
                        for (var i = 0; i < layers.length; i++){
                            layer_id = layers[i];
                            layer = {'legend':{'elements':[]}};
                            //copied from visualize/models.js layerModel.interpretArcGISFeatureServerLegend
                            if (legend_json['drawingInfo']['renderer'].hasOwnProperty('uniqueValueInfos')){
                                // list of unique values (esriSFS case)
                                legend_items = legend_json['drawingInfo']['renderer']['uniqueValueInfos'];
                            } else if (legend_json['drawingInfo']['renderer'].hasOwnProperty('symbol')) {
                                // only 1 item (esriPMS case)
                                legend_items = [legend_json['drawingInfo']['renderer']];
                            }
                            html += "<table><tbody>";
                            $.each(legend_items, function(j, legendobj) {
                                var type = 'swatch';
                                var color = 'transparent';
                                var outline_color = 'rgba(0,0,0,255)';
                                // TODO: Support outline_style
                                var outline_style = 'solid';
                                var outline_width = '0.4';
                                var label = legendobj['label'];
                                if (j < 1 && label === "") {
                                    label = layerobj['layerName'];
                                }
                                if (legendobj.symbol.type == "esriPMS"){
                                    img_style = `fill-opacity="0" stroke="none" ` +
                                    `stroke-opacity="0" stroke-width="1" stroke-linecap="butt" ` +
                                    `stroke-linejoin="miter" stroke-miterlimit="4" x="-10" y="-10" ` +
                                    `width="20" height="20" preserveAspectRatio="none" ` +
                                    `src="data:${legendobj.symbol.contentType};base64,` +
                                    `${legendobj.symbol.imageData}" ` +
                                    `transform="matrix(1.00000000,0.00000000,0.00000000,1.00000000,15.00000000,10.00000000)"`;
                                    type = 'point_image';
                                    viz = `<image ${img_style} class="legend-${type}"></image>`;
                                    
                                } else if (legendobj.symbol.type == "esriSFS"){
                                    color = 'rgba(' + legendobj.symbol.color.join(',') + ')';
                                    outline_color = 'rgba(' + legendobj.symbol.outline.color.join(',') + ')';
                                    outline_width = legendobj.symbol.outline.width;
                                    style = `border: ${outline_width}px ${outline_style} ${outline_color}; background-color: ${color}`;
                                    viz = `<div class="legend-${type}" style="${style}"></div>`;
                                } else if (legendobj.symbol.type == "esriSLS"){
                                    color = 'rgba(' + legendobj.symbol.color.join(',') + ')';
                                    type = 'line';
                                    style = `border-top: ${legendobj.symbol.width}px ${outline_style} ${color};`;
                                    viz = `<div class="legend-${type}" style="${style}"></div>`;
                                }
                                html += "<tr valign='middle'>";
                                html += "<td>" + viz + "</td>";
                                html += "<td>" + label + "<td>";
                                html += "</tr>";
                            });
                        }
                        
                        $('.layer_' + id + '_legend').html(html);
                    });
                </script>
                {% else %}
                <img src="{{ legend.legend }}">
                {% endif %}
            </p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <section class="no-legend">
        {% endif %}
        <div class="section-body">
            <h2>{{ section.title }}</h2>
            {% include "portal/components/ocean_story_media_item.html" with item=section only %}
        </div>
    </section>
    {% endfor %}
    {% endif %}
</div>