{% load wagtailcore_tags static %}
{% if MAP_LIBRARY %}

  {% if MAP_LIBRARY == 'ol8' %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/openlayers/ol8/ol.css' %}">
  {% endif %}

  {% if MAP_LIBRARY == 'ol6' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css">
  {% endif %} <!-- OL6 -->

  {% if MAP_LIBRARY == 'ol5' %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
  {% endif %} <!-- OL5 -->

  {% if MAP_LIBRARY != 'ol2' %}
    <link rel="stylesheet" href="{% static 'portal/ocean_story/css/ocean_story.css' %}" type="text/css">
  {% endif %}

{% else %}
  <link rel="stylesheet" href="{% static 'ol3-unofficial/ol.css' %}" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.4/ol.css" /> -->
{% endif %} <!-- MAP_LIBRARY -->
