{% load wagtailcore_tags static %}

<script src="{% static 'js/bookmarks.js' %}"></script>
<script src="{% static 'js/userlayers.js' %}"></script>
<script src="{% static 'js/scenarios.js' %}"></script>
<script src="{% static 'js/reports.js' %}"></script>

{% if MAP_LIBRARY %}
  <script src="{% static 'jquery-migrate/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'jquery.bbq/jquery.ba-bbq.js' %}"></script>
  <script src="{% static 'js/lib/lodash.min.js' %}"></script>

  <script src="{% static 'js/lib/knockout-3.3.0.js' %}"></script>
  <script src="{% static 'js/lib/knockout.mapping-2.4.1.js' %}"></script>
  <script src="{% static 'js/knockout-bindings.js' %}"></script>

  {% if MAP_LIBRARY == 'ol6' %}
    <!-- <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script> -->
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.4.3/build/ol.js"></script>
    <script src="{% static 'assets/ol-esri-style/vanilla/vanilla.js' %}" type="text/javascript"></script>
  {% endif %} <!-- OL6 -->

  {% if MAP_LIBRARY == 'ol5' %}
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
  {% endif %} <!-- OL5 -->

  {% if MAP_LIBRARY == 'ol8' %}
    <script src="{% static 'assets/openlayers/ol8/ol.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/ol-esri-style/vanilla/vanilla.js' %}" type="text/javascript"></script>
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
  {% endif %}


  <!-- <script src="{% static 'js/app.js' %}"></script> -->
  <script src="/static/js/fixtures.js"></script>

  <script type="text/javascript">
    app.ARCGIS_API_KEY = '{{ ARCGIS_API_KEY}}';
    app.map_tech = '{{ MAP_LIBRARY }}';
    app.region = {{ REGION | safe }};
  </script>

  <script src="{% static 'js/wrappers/wrapper_init.js' %}"></script>
  <!-- LOAD MAP WRAPPERS -->
  <script src="{% static 'js/' %}wrappers/{{ MAP_LIBRARY }}/{{ MAP_LIBRARY }}_map_library.js"></script>
  <script src="{% static 'js/' %}wrappers/{{ MAP_LIBRARY }}/{{ MAP_LIBRARY }}_layers.js"></script>
  <script src="{% static 'js/' %}wrappers/{{ MAP_LIBRARY }}/{{ MAP_LIBRARY }}_wrapper.js"></script>
  <script src="{% static 'js/map.js' %}"></script>
  <script src="{% static 'js/' %}wrappers/{{ MAP_LIBRARY }}/{{ MAP_LIBRARY }}_map.js"></script>

  <!-- <script src="{% static 'js/' %}wrappers/{{ MAP_LIBRARY }}/{{ MAP_LIBRARY }}_controls.js"></script>
  <script src="{% static 'js/' %}wrappers/{{ MAP_LIBRARY }}/{{ MAP_LIBRARY }}_events.js"></script> -->
  <!-- LOAD MAP FOR ALL NON-OL2 TECHS -->
  <!-- <script src="{% static 'js/contextual_menu.js' %}"></script> -->

  <script src="{% static 'js/models.js' %}"></script>
  <script src="{% static 'js/server.js' %}"></script>
  <script src="{% static 'js/' %}wrappers/{{ MAP_LIBRARY }}/{{ MAP_LIBRARY }}_state.js"></script>
  <script src="{% static 'js/state.js' %}"></script>
  <script src="{% static 'js/' %}wrappers/{{ MAP_LIBRARY }}/{{ MAP_LIBRARY }}_app.js"></script>
  <!-- <script src="{% static 'js/app.js' %}"></script> -->
  <script src="{% static 'js/events.js' %}"></script>

  <script src="{% static 'portal/ocean_story/wrapper' %}/{{ MAP_LIBRARY }}/{{ MAP_LIBRARY }}_map_engine.js"></script>
  <script src="{% static 'portal/ocean_story' %}/curtain.js"></script>
  <!-- <script src="{% static 'portal/ocean_story' %}/hacky_marine_cadastre_layer_conversion.js"></script> -->
  <script src="{% static 'portal/ocean_story' %}/scroll_spy.js"></script>
  <!-- <script src="{% static 'portal/ocean_story' %}/polyfills.js"></script> -->

  <script src="{% static 'portal/ocean_story/wrapper' %}/index_wrapper.js"></script>
  {% if MAP_LIBRARY == 'ol5' %}
  {% endif %} <!-- OL5 -->

{% else %}
  <script src="{% static 'ol3-unofficial/ol.js' %}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.4/ol-debug.js"></script> -->
  <script src="{% static 'bundles/ocean_story.js' %}"></script>
{% endif %} <!-- MAP_LIBRARY -->
<script type="text/javascript">
  $(document).ready(function() {
    oceanStory($('#map'), {{ self.as_json|safe }}, true);
  })
</script>
