<!-- mida-portal/mida/static/mida/components/accordion-datacatalog/index.html -->

{% load wagtailcore_tags static %}

<details class="property">
    <span id="layer-info-{{ layer.slug_name }}"></span>
    <summary onclick="window.getCatalogEntry('{{layer.type}}', {{ layer.id }}, {{theme.id}})">
        <div class="header-left">
            <span class="i-wrap">
                <img class="i-open vector" src="{% static 'mida/components/accordion-datacatalog/img/vector-2.svg' %}" alt="Collapse icon" aria-hidden="true" />
                <img class="i-closed expand-icon" src="{% static 'mida/components/accordion-datacatalog/img/vector-3.svg' %}" alt="Expand icon" aria-hidden="true" />
            </span>
            <h2 class="text-wrapper">{{ layer.name }}</h2>
        </div>
    </summary>
    
    <div class="frame">
        <div class="frame-wrapper">
            <div class="frame-2">
                <div id="collapse-layer-{{layer.type}}-{{ layer.id }}">
                    <div class="layer-loading-panel">
                        <p><img src="{% static 'img/ajax-loader.gif' %}"> Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</details>