<!-- mida-portal/mida/static/mida/components/footer/index.html -->

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'mida/components/footer/style.css' %}">
{% endblock extra_css %}

<footer class="footer">
    <div class="footer-container">
        <!-- Newsletter Subscription Section -->
        <div class="newsletter-section">
            <div class="newsletter-background"></div>
            <div class="newsletter-mask"></div>
            <div class="newsletter-content">
                <div class="newsletter-text">
                    <h2 class="newsletter-title">SUBSCRIBE TO OUR<br />NEWSLETTER</h2>
                    <div class="newsletter-accent-bar"></div>
                    <p class="newsletter-description">
                        Stay current on Portal data additions, tool and site enhancements, upcoming webinars and
                        more.
                    </p>
                </div>
                <div class="newsletter-form">
                    <div class="form-container">
                        <input type="email" placeholder="Your Email Address" class="email-input">
                        <button class="signup-button">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Main Footer Content -->
        <div class="main-footer">
            <!-- Left Side -->
            <div class="left-side">
                <div class="logo-container">
                    <img src="{% static 'mida/components/footer/img/logo.svg' %}" alt="MARCO Logo" class="marco-logo">
                </div>
                <div class="description">
                    <p>Welcome to the <strong>Mid-Atlantic Ocean Data Portal</strong>, an ocean planning resource
                        center, and the <span class="marine-planner">Marine Planner</span>, an interactive mapping
                        tool.</p>
                    </div>
                    <button class="visit-button">VISIT MIDATLANTICOCEAN.ORG</button>
                </div>
                
                <!-- Divider Line -->
                <div class="divider-line"></div>
                
                <!-- Right Side -->
                <div class="right-side">
                    <h3 class="contact-title">Contact Us</h3>
                    <p class="contact-email">portal@midatlanticocean.org</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/midatlanticocean" class="social-icon facebook" target="_blank">
                            <svg viewBox="0 0 60 60">
                                <circle cx="30" cy="30" r="30" fill="#FFA400" />
                                <g transform="translate(22.6437 15.83335)">
                                    <path
                                    d="M9.55054 28.3333V15.4101H13.8866L14.5371 10.3722H9.55054V7.15624C9.55054 5.69811 9.95379 4.70441 12.0471 4.70441L14.7126 4.70331V0.197242C14.2517 0.137339 12.6693 0 10.8277 0C6.98201 0 4.34919 2.34736 4.34919 6.65729V10.3722H0V15.4101H4.34919V28.3333H9.55054Z"
                                    fill="white" />
                                </g>
                            </svg>
                        </a>
                        <a href="https://twitter.com/PortalMARCO" class="social-icon youtube" target="_blank">
                            <svg viewBox="0 0 60 60">
                                <circle cx="30" cy="30" r="30" fill="#FFA400" />
                                <path
                                d="M44.6729 22.0052C44.3042 20.6998 43.2233 19.6709 41.8526 19.3194C39.3485 18.667 29.3318 18.667 29.3318 18.667C29.3318 18.667 19.3155 18.667 16.8114 19.2946C15.467 19.6458 14.3598 20.7 13.991 22.0052C13.332 24.3893 13.332 29.3337 13.332 29.3337C13.332 29.3337 13.332 34.3031 13.991 36.6623C14.3602 37.9674 15.4406 38.9964 16.8116 39.3479C19.3418 40.0005 29.3322 40.0005 29.3322 40.0005C29.3322 40.0005 39.3485 40.0005 41.8526 39.3728C43.2235 39.0215 44.3042 37.9925 44.6733 36.6874C45.3321 34.3031 45.3321 29.3588 45.3321 29.3588C45.3321 29.3588 45.3585 24.3893 44.6729 22.0052ZM26.1427 33.9015V24.7659L34.472 29.3337L26.1427 33.9015Z"
                                fill="white" />
                            </svg>
                        </a>
                        <a href="https://www.youtube.com/channel/UC4xYS-oWsPJkO34r1o-nEPg" class="social-icon twitter" target="_blank">
                            <svg viewBox="0 0 60 60">
                                <circle cx="30" cy="30" r="30" fill="#FFA400" />
                                <path
                                d="M32.8048 27.9975L43.1257 16.0003H40.6799L31.7183 26.4173L24.5607 16.0003H16.3052L27.1289 31.7527L16.3052 44.3336H18.751L28.2148 33.3329L35.7737 44.3336H44.0292L32.8042 27.9975H32.8048ZM29.4548 31.8915L28.3581 30.3229L19.6323 17.8415H23.389L30.4309 27.9144L31.5275 29.483L40.6811 42.5761H36.9244L29.4548 31.8921V31.8915Z"
                                fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer -->
        <div class="bottom-footer">
            <div class="bottom-footer-container">
                <div class="copyright">
                    <span class="copyright-symbol">©</span>
                    <span class="copyright-text">2024 MARCO. All Rights Reserved.</span>
                </div>
                <div class="site-credit">Designed by <a href="https://www.3lanemarketing.com/" target="_blank">3Lane Marketing</a> &amp; Built by <a href="https://ecotrust.org/" target="_blank">Ecotrust</a>.</div>
            </div>

            <div class="footer-icons">
                <div class="accessibility-icon">
                    <img src="{% static 'mida/components/footer/img/marcodataportal-global-icon-accessibility.svg' %}" alt="Accessibility Icon">
                </div>
                <div class="back-to-top">
                    <svg viewBox="0 0 56 56">
                        <circle cx="28" cy="28" r="26.5" fill="#FFA400" stroke="white" stroke-width="3" />
                        <path
                        d="M18.8835 32.681L17.6055 31.4L28.0055 21L38.4055 31.4L37.1275 32.678L28.0055 23.555L18.8835 32.681Z"
                        fill="white" />
                    </svg>
                </div>
            </div>
        </div>
    </footer>