.planner-page .header {
    padding-bottom: 0;
}

.planner-page .header .top-nav {
    display: none;
}

.planner-page .header .main-nav {
    max-height: 50px;
    padding: 7px 0 6px;
}


/** Quick solution to duplicate global container class 
 * TODO: refactor global container and header styles so that header is not dependent on global styles
 * Apologies for the messy comment. Under a bit of time pressure.
 * - DLP 12/12/2025
**/
/**
 * Containers
 */

.contain {
    margin: 0 auto var(--space-9);
    padding: 0 20px;
    max-width: 1240px;
}

@media (min-width: 78rem) {
    .contain {
        padding: 0;
    }
}

.threelane-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}